<!--***********************************************************************************************************
Description:   HTML page of staff's time headers page

Author:
    Tyrell Powers-Crane
Date:
    6.27.16
Change History:
    6.29.16 -tpc- Added Webgrid
    7.10.2016 -tpc- Added functionality to display selected staff member
*********************************************************************************************************-->
@using eciWEB2016.Controllers.DataControllers
@using eciWEB2016.Controllers
@using staffController = eciWEB2016.Controllers.StaffController
@using TimeSheetController = eciWEB2016.Controllers.TimeSheetController
@model eciWEB2016.Models.Staff
@{
    ViewBag.Title = "Time_Headers";

} 

<link rel="stylesheet" href="~/Content/style.css" />
    <header>
        <h1>All Staff Time Headers</h1>
        <ul class="right">
            <button onclick="location.href = '@Url.Action("Time_Headers", "Staff")' "> Refresh </button>
            <button onclick="location.href = '@Url.Action("Time_Sheet_Input", "Staff")' "> Close </button>
        </ul>
        <li>
            @Html.Label("Select Staff:", new { @class = "select" })
            @Html.DropDownList("staffListID", (SelectList)ViewBag.staffList, "-- Select Staff --")
        </li>
</header>
    <nav class="head">
        <label>Staff ID:</label>
        <label class="staffIDLabel"></label>
        <label>First Name:</label>
        <label class="staffFirst"></label>
        <label>Last Name:</label>
        <label class="staffLast"></label>
        <label>Staff Status:</label>
        <label class="staffStatus"></label>

    </nav>
    <div class="main">
        <li class="left">
            Time Headers For This Staff Member
        </li>
        
        <div id="gridContainer" class="scroll">
            @Html.Partial("TimeSheet_Grid_Partial")
        </div>
    </div>
@section JavaScript
{
<script>

            $(document).ready(function () {
                //on dropdown change, will fill grid with timeheaders for that staff member
                $("#staffListID").change(function () {
                    var staffID = $("#staffListID").val();
                    $.get('@Url.Action("TimeSheet_Grid_Partial", "TimeSheet")', { staffID: staffID }, function (data) {
                        $('#gridContent').replaceWith(data);
                    });

                        //calls webmethod to get and store selected staff member in the session
                        $.getJSON('@Url.Action("GetStaffMemberFromSession", "Staff")', { staffID: staffID },
                            function (data) {
                                //displays staffmember properties as html
                                $('.staffFirst').html(data.firstName);
                                $('.staffLast').html(data.lastName);
                                $('.staffIDLabel').html(data.staffID);
                                $('.staffStatus').html(data.status);
                               
                            }
                        );
                });
                @*$('#item.ID').click(function(){
                    $.get('@Url.Action("StaffTimeSheet", "TimeSheet")', { timeHeaderID: staffID }, function (data) {
                        $('#gridTimeDetailContent').replaceWith(data);
                    });*@
                //});
            });
</script>
    }



