<!--***********************************************************************************************************
Description:   HTML page of staff's time headers page

Author:
    Tyrell Powers-Crane
Date:
    6.27.16
Change History:
    6.29.16 -tpc- Added Webgrid
*********************************************************************************************************-->
@using eciWEB2016.Controllers.DataControllers
@using eciWEB2016.Controllers
@using staffController = eciWEB2016.Controllers.StaffController
@model eciWEB2016.Models.Staff
@{
    ViewBag.Title = "Time_Headers";
    //var grid = new WebGrid(source: Model, canSort: false, columnNames: new[] { "staffID", "firstName" });
   
}


<link rel="stylesheet" href="~/Content/style.css" />
    <header>
        <h1>All Staff Time Headers</h1>
        <ul class="right">
            <button onclick="location.href = '@Url.Action("Time_Headers", "Staff")' "> Refresh </button>
            <button onclick="location.href = '@Url.Action("Time_Sheet_Input", "Staff")' "> Close </button>
        </ul>
        <li>
            @Html.Label("Select Staff:", new { @class = "select" })
            @Html.DropDownList("staffListID", (SelectList)ViewBag.staffList, "-- Select Staff --")
        </li>
        <script type="text/javascript">

            $(document).ready(function () {

                $("#staffListID").change(function () {

                    var staffID = $("#staffListID").val();          

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("Staff_Time_Headers")',
                        //data: { staffID: staffID },
                        dataType: 'html',
                        contentType: 'application/html; charset=utf-8',
                        //success: function (returndata) {
                        //    alert(returndata);
                        //    if (!returndata.ok) {

                        //        window.alert(' error : ' + returndata.message);
                        //    } else {
                        //        //$('#tabs').tabs({ disabled: [] });
                        //        $('#gridContent').html(returndata);
                        //    }
                        //}
                    })
                    .success(function (result) {
                        //alert(result);
                        result = '<p>new text</p>';
                        $('#gridContent').html(result);
                    })
                    .error(function (xhr, status) {
                        alert(xhr.responseText);
                    });
                });
            });
        </script>
    </header>
    <nav class="head">
        <label>Staff ID:</label>
        <input type="text" size=5></input>
        <label>First Name:</label>
        <input type="text"></input>
        <label>Last Name:</label>
        <input type="text"></input>
        <label>Staff Status</label>
        <select>
            <option>A</option>
            <option>I</option>
        </select>
    </nav>
    <div class="main">
        <li class="left">
            Time Headers For This Staff Member
        </li>
        
        <div class="scroll">
            <div id="gridContent" style="font-family: Arial; padding: 10px;"> 
                @Html.Partial("TimeSheet_Grid_Partial")
            </div>
        </div>
    </div>




