<!--***********************************************************************************************************
Description:   HTML page of staff's time headers page

Author:
    Tyrell Powers-Crane
Date:
    6.27.16
Change History:
    6.29.16 -tpc- Added Webgrid
    7.10.2016 -tpc- Added functionality to display selected staff member
*********************************************************************************************************-->
@using eciWEB2016.Controllers.DataControllers
@using eciWEB2016.Controllers
@using staffController = eciWEB2016.Controllers.StaffController
@using TimeSheetController = eciWEB2016.Controllers.TimeSheetController
@model eciWEB2016.Models.Staff
@{
    ViewBag.Title = "Time_Headers";

} 

<link rel="stylesheet" href="~/Content/style.css" />
    <header>
        <h1>All Staff Time Headers</h1>
        <ul class="right">
            <button onclick="location.href = '@Url.Action("Time_Headers", "Staff")' "> Refresh </button>
            <button onclick="location.href = '@Url.Action("Time_Sheet_Input", "Staff")' "> Close </button>
        </ul>
        <li>
            @Html.Label("Select Staff:", new { @class = "select" })
            @Html.DropDownList("staffListID", (SelectList)ViewBag.staffList, "-- Select Staff --")
        </li>
</header>
    <nav class="head">
        <label>Staff ID:</label>
        <label class="staffIDLabel"></label>
        <label>First Name:</label>
        <label class="staffFirst"></label>
        <label>Last Name:</label>
        <label class="staffLast"></label>
        <label>Staff Status:</label>
        <label class="staffStatus"></label>

    </nav>
    <div class="main">
        <li class="left">
            Time Headers For This Staff Member
        </li>
        
        <div id="gridContainer" class="scroll">
            @Html.Partial("TimeSheet_Grid_Partial")
        </div>
    </div>
@section JavaScript
{
<script>

    $(document).ready(function () {
        //$("#gridContent #outerGrid > thead > tr >th:contains('timeHeaderID'").remove(); // remove last hidden column header
        var size = $("#gridContent #outerGrid > thead > tr >th").size(); // get total column
        $("#gridContent #outerGrid > thead > tr >th").last().remove(); // remove last column
        $("#gridContent #outerGrid > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
        $("#gridContent #outerGrid > tbody > tr").each(function (i, el) {
            $(this).prepend(
                    $("<td></td>")
                    .addClass("expand")
                    .addClass("hoverEff")
                    .attr('title', "click for show/hide")
                );

            //Now get sub table from last column and add this to the next new added row
            var table = $("table", this).parent().html();
            //add new row with this subtable
            $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
            $("table", this).parent().remove();
            // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
            $(".hoverEff", this).live("click", function () {
                $(this).parent().closest("tr").next().slideToggle(100);
                $(this).toggleClass("expand collapse");
            });
            // Call method to fill sub grid with data
            @*$(".hoverEff", this).click(function () {
                        var timeHeaderID = $("hiddenTimeHeaderID").val();
                        $.post('@Url.Action("StaffTimeSheet", "TimeSheet")', { timeHeaderID: timeHeaderID })
                    })*@
        });

        //by default make all subgrid in collapse mode
        $("#gridContent #outerGrid > tbody > tr td.expand").each(function (i, el) {
            $(this).toggleClass("expand collapse");
            $(this).parent().closest("tr").next().slideToggle(100);
        });

        //on dropdown change, will fill grid with timeheaders for that staff member
        $("#staffListID").change(function () {
            var staffID = $("#staffListID").val();
            $.get('@Url.Action("TimeSheet_Grid_Partial", "TimeSheet")', { staffID: staffID }, function (data) {
                $('#gridContent').replaceWith(data);
            });

            //calls webmethod to get and store selected staff member in the session
            $.getJSON('@Url.Action("GetStaffMemberFromSession", "Staff")', { staffID: staffID },
                function (data) {
                    //displays staffmember properties as html
                    $('.staffFirst').html(data.firstName);
                    $('.staffLast').html(data.lastName);
                    $('.staffIDLabel').html(data.staffID);
                    $('.staffStatus').html(data.status);
                }
            );
        });
        @*$('#.hoverEff').click(function(){
                    var timeHeaderID = $("hiddenTimeHeaderID").val();
                    $.get('@Url.Action("StaffTimeSheet", "TimeSheet")', { timeHeaderID: timeHeaderID }, function (data) {
                        $('#gridTimeDetailContent').replaceWith(data);
                    });*@
        //});
    });
</script>
    }



