<!----------------------------------------------------------------------------
Description: Partial view that displays the clients demographic and miscellaneous
    information. Contained within the Client_Update page.

Author: Jennifer M Graves

Date: 07/27/2016

Change History:
------------------------------------------------------------------------------>
@model eciWEB2016.Models.Client
@{
    eciWEB2016.Models.Client client = new eciWEB2016.Models.Client();

    if (Session["client"] != null)
    {
        client = (eciWEB2016.Models.Client)Session["client"];
    }
}
@using (Html.BeginForm("UpdateClient", "Client", FormMethod.Post))
{
    <span style="display: none;">
        @Html.TextBoxFor(c => c.clientID, new { Value = client.clientID, name = "clientID" })
    </span>
    <ul class="flex">
        <li>
            @Html.LabelFor(c => c.altID):
            @Html.TextBoxFor(c => c.altID, new { Value = client.altID, name = "altID" })
        </li>
        <li>
            @Html.LabelFor(c => c.fullName):
            @Html.TextBoxFor(c => c.fullName, new { Value = client.fullName, name = "fullName" })
        </li>
        <li>
            @Html.Label("Office Name:")
            @Html.DropDownListFor(c => c.officeID, (SelectList)ViewBag.officeList, null, new { @Value = client.officeID })
        </li>
    </ul>
    <ul class="flex">
        <li>
            @Html.LabelFor(c => c.lastName):
            @Html.TextBoxFor(c => c.lastName, new { Value = @client.lastName, name = "lastName" })
        </li>
        <li>
            @Html.LabelFor(c => c.firstName):
            @Html.TextBoxFor(c => c.firstName, new { Value = client.firstName, name = "firstName" })
        </li>
        <li>
            @Html.LabelFor(c => c.middleInitial):
            @Html.TextBoxFor(c => c.middleInitial, new { Value = client.middleInitial, name = "middleInitial" })
        </li>
        <li>
            @Html.LabelFor(c => c.clientStatusID):
            @Html.DropDownListFor(c => c.clientStatusID, (SelectList)ViewBag.clientStatusList, null, new { @Value = client.clientStatusID } )
        </li>
        <li>
            @Html.LabelFor(c => c.ageInMonths):
            @Html.TextBoxFor(c => c.ageInMonths, new { Value = client.ageInMonths, name = "ageInMonths" })
        </li>
        <li>
            @Html.LabelFor(c => c.dob):
            @Html.EditorFor(c => c.dob, null, new { Value = client.dob, name = "dob" })
        </li>
        <li>
            @Html.LabelFor(c => c.sexID):
            @Html.DropDownListFor(c => c.sexID, (SelectList)ViewBag.sexList, null, new { @Value = client.sexID})
        </li>
        <li>
            @Html.LabelFor(c => c.ethnicityID):
            @Html.DropDownListFor(c => c.ethnicityID, (SelectList)ViewBag.ethnicityList, null, new { @Value = client.ethnicityID })
        </li>
        <li>
            @Html.LabelFor(c => c.raceID):
            @Html.DropDownListFor(c => c.sexID, (SelectList)ViewBag.raceList, null, new { @Value = client.raceID})
        </li>
        <li>
            @Html.LabelFor(c => c.ssn):
            @Html.EditorFor(c => c.ssn, null, new { Value = client.ssn, name = "ssn" })
        </li>
    </ul>
    <ul class="flex">
        <li>
            @Html.LabelFor(c => c.clientAddress.address1):
            @Html.TextBoxFor(c => c.clientAddress.address1, null, new { @Value = client.clientAddress.address1, name = "address1" })
        </li>
        <li>
            @Html.LabelFor(c => c.schoolInfoID):
            @Html.DropDownListFor(c => c.schoolInfoID, (SelectList)ViewBag.schoolInfoList, null, new { @Value = client.schoolInfoID })
        </li>
        <li>
            @Html.LabelFor(c => c.clientAddress.address2):
            @Html.TextBoxFor(c => c.clientAddress.address2, null, new { Value = client.clientAddress.address2, name = "address2" })
        </li>
        <li>
            @Html.LabelFor(c => c.primaryLanguageID):
            @Html.DropDownListFor(c => c.primaryLanguageID, (SelectList)ViewBag.primaryLanguageList, null, new { @Value = client.primaryLanguageID })
        </li>
        <li class="inline">
            @Html.LabelFor(c => c.clientAddress.city):
            @Html.TextBoxFor(c => c.clientAddress.city, null, new { Value = client.clientAddress.city, name = "city" })
        </li>
        <li class="inline">
            @Html.LabelFor(c => c.clientAddress.state): @Html.ValidationMessageFor(c => c.clientAddress.state)
            @Html.TextBoxFor(c => c.clientAddress.state, null, new { Value = client.clientAddress.state, name = "state" })
        </li>
        <li class="inline">
            @Html.LabelFor(c => c.clientAddress.zip):
            @Html.TextBoxFor(c => c.clientAddress.zip, null, new { Value = client.clientAddress.zip, name = "zip" })
        </li>
        <li class="inline">
            @Html.LabelFor(c => c.clientAddress.mapsco):
            @Html.TextBoxFor(c => c.clientAddress.mapsco, null, new { Value = client.clientAddress.mapsco, name = "mapsco" })
        </li>
        <li>
            @Html.LabelFor(c => c.phone.additionalContactInfo):
            @Html.TextBoxFor(c => c.phone.additionalContactInfo, null, new { Value = client.phone.additionalContactInfo, name = "clientPhone" })
        </li>
        <li>
            @Html.LabelFor(c => c.clientAddress.county):
            @Html.TextBoxFor(c => c.clientAddress.county, null, new { Value = client.clientAddress.county, name = "clientCounty" })
        </li>
        <li>
            @Html.LabelFor(c => c.serviceAreaException):
            @Html.CheckBoxFor(c => c.serviceAreaException)
        </li>
        <li>
            @Html.LabelFor(c => c.caseManager):
             @Html.DropDownListFor(c => c.caseManager, (SelectList)ViewBag.staffList ,null, new { @Value = client.caseManagerID})
        </li>
        <li>
            @Html.LabelFor(c => c.TKIDcaseNumber):
            @Html.TextBoxFor(c => c.TKIDcaseNumber, null, new { Value = client.TKIDcaseNumber, name = "TKIDcaseNumber" })
        </li>
        <li>
            @Html.LabelFor(c => c.consentRelease):
            @Html.CheckBoxFor(c => c.consentRelease, new { Value = client.consentRelease, name = "consentToRelease" })
        </li>
    </ul>
    <ul class="flex">
        <li>
            @Html.LabelFor(c => c.ECI):
            @Html.CheckBoxFor(c => c.ECI, new { Value = client.ECI, name = "ECI" })
        </li>
        <li>
            @Html.LabelFor(c => c.accountingSystemID):
            @Html.TextBoxFor(c => c.accountingSystemID, null, new { Value = client.accountingSystemID, name = "accountingSystemID" })
        </li>
    </ul>
    <li>
        <input type="submit" Value="Update Client" />
    </li>
}
