@model eciWEB2016.Models.Address

<li>
    <label>Address 1:</label>
    @Html.TextBoxFor(Staff => Staff.address1)

    <label>Address 2:</label>
    @Html.TextBoxFor(Staff => Staff.address2)

    <label>City:</label>
    @Html.TextBoxFor(Staff => Staff.city)

    <label>State:</label>
    @Html.TextBoxFor(Staff => Staff.state)

    <label>Zip:</label>
    @Html.TextBoxFor(Staff => Staff.zip)

    <select>
        <option value="1">AL</option>
    </select>
</li>
