@model eciWEB2016.Models.Client
<ul class="twoCol short">
    <li>
        @Html.LabelFor(c => c.altID)
        @Html.TextBoxFor(c => c.altID)
    </li>
    <li>
        @Html.LabelFor(c => c.lastName)
        @Html.TextBoxFor(c => c.lastName)
    </li>
    <li>
        @Html.LabelFor(c => c.firstName)
        @Html.TextBoxFor(c => c.firstName)
    </li>
</ul>
<ul class="threeCol">
    <li>
        @Html.LabelFor(c => c.middleInitial)
        @Html.TextBoxFor(c => c.middleInitial)
    </li>
    <li>
        @Html.LabelFor(c => c.dob)
        @Html.EditorFor(c => c.dob)
    </li>
</ul>
