<!----------------------------------------------------------------------------
Description: Referral page. Allows user to add a client to program.

Author: Jennifer M Graves

Date: 07/27/2016

Change History:
------------------------------------------------------------------------------>
@model eciWEB2016.Models.Referral
@{
    if (Session["client"] != null)
    {
        // Removes the current client from session and replaces with a blank client.
        eciWEB2016.Models.Client client = new eciWEB2016.Models.Client();
        Session["client"] = client;
    }
}
<header>
    <h1>Referral Input</h1>
</header>
<nav>
    <button type="button">Print</button>
    <button type="button" onclick="location.href='@Url.Action("InsertClient", "Client")'">Add Client</button>
    <button type="button" onclick="location.href='@Url.Action("ClearReferral", "Client")'">Delete Client</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Close</button>
</nav>
<div class="main">
    @using (Html.BeginForm("InsertClient", "Referral", FormMethod.Post))
    {

        <ul>
            <li>
                @Html.Label("Office Name")
                @Html.DropDownListFor(r => r.referredClient.officeID, (SelectList)ViewBag.officeList, "")
            </li>
            <li>
                @Html.LabelFor(r => r.referralDate)
                @Html.EditorFor(r => r.referralDate, null)
            </li>
            <li>
                @Html.LabelFor(r => r.referralDueDate)
                @Html.EditorFor(r => r.referralDueDate, null)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.intakeCoordinator.staffID)
                @Html.DropDownListFor(r => r.referredClient.intakeCoordinator.staffID, (SelectList)ViewBag.staffList, "")
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.serviceCoordinator.staffID)
                @Html.DropDownListFor(r => r.referredClient.serviceCoordinator.staffID, (SelectList)ViewBag.staffList, "")
            </li>
        </ul>
        <ul>
            <li>
                @Html.Label("Reason for Referral:")
                @Html.TextArea("referralReason", new { rows = 10, columns = 40 })
            </li>
        </ul>
        <ul class="flex">
            <li>
                @Html.Label("Re-Referral?")
            </li>
            <li>
                @Html.Label("Previous Referral Date:")
            </li>
        </ul>
        <ul class="flex">
            <li>
                @Html.Label("Referral Source (name of person calling):")
            </li>
            <li>
                @Html.Label("Referral Code:")
                @Html.TextBox("referralCodeList", null, new { name = "referralCodeList" })
            </li>
        </ul>
        <ul class="flex">
            <li>
                @Html.Label("Secondary Referral Source:")
                @Html.TextBox("secondaryReferralSourceList", null, new { name = "referralSourceList" })
            </li>
            <li>
                @Html.Label("Referral Code:")
                @Html.TextBox("referralCode", null, new { name = "referralCode" })
            </li>
        </ul>
        <ul>
            <li>
                @Html.Label("Referral Comments:")
                @Html.TextArea("referralReason", new { rows = 10, columns = 40 })
            </li>
        </ul>
        <ul class="flex">
            <li>
                @Html.Label("Outreach Code:")
                @Html.TextBox("outreachCode", null, new { name = "outreachCode" })
            </li>
            <li>
                @Html.Label("TKIDs Case Number:")
            </li>
        </ul>
        <ul>
            <li>
                @Html.LabelFor(r => r.referredClient.altID)
                @Html.TextBoxFor(r => r.referredClient.altID)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.clientID)
                @Html.TextBoxFor(r => r.referredClient.clientID)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.lastName)
                @Html.TextBoxFor(r => r.referredClient.lastName)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.firstName)
                @Html.TextBoxFor(r => r.referredClient.firstName)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.middleInitial)
                @Html.TextBoxFor(r => r.referredClient.middleInitial)
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.dob)
                @Html.EditorFor(r => r.referredClient.dob)
            </li>
            <li>
                <input type="submit" Value="Add Client" />
            </li>
            <li>
                <input type="submit" Value="Add Referral" />
            </li>
        </ul>
    }
    @*@{Html.RenderPartial("Referral_PhysicianPartial", client.clientPhysicians);}*@
    @using (Html.BeginForm("InsertReferralDetails", "Referral", FormMethod.Post))
    {
        <ul class="flex">
        <li>
            @Html.Label("From Other Follow Along to ITIP's FA?")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("From ITIP's Comp to ITIP's Follow Along?")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("Referral Outcome:")
            <select name="referralOutcome">
                <option>*D</option>
            </select>
        </li>
        <li>
            @Html.Label("Outcome Date:")
            <input type="date">
        </li>
        <li>
            @Html.Label("From ITIP's FA to ITIP's Comp?")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("Transferred from another ECI program?")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("Agency transferred from:")
            <input type="text">
        </li>
        <li>
            @Html.Label("City/State where transferring agency is located:")
            <input type="text">
        </li>
    </ul>
    <ul class="flex">
        <li>
            @Html.Label("Point of Access Referral?")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("ECI Agency Referred To:")
            <input type="text">
        </li>
        <li>
            @Html.Label("Date referred:")
            <input type="date">
        </li>
    </ul>
    <ul class="center">
        <li>
            @Html.Label("Referral Sent By:")
        </li>
        <li>
            @Html.Label("Fax:")
            <input type="checkbox">
        </li>
        <li>
            @Html.Label("Phone:")
            <input type="checkbox">
        </li>
    </ul>
    }
    @{Html.RenderPartial("Referral_FamilyPartial", Model.referredClient.clientFamily);}
</div>