<!----------------------------------------------------------------------------
Description: Referral page. Allows user to add a client to program.

Author: Jennifer M Graves

Date: 07/27/2016

Change History:
------------------------------------------------------------------------------>
@model eciWEB2016.Models.Referral
@{
    if (Session["client"] != null)
    {
        // Removes the current client from session and replaces with a blank client.
        eciWEB2016.Models.Client client = new eciWEB2016.Models.Client();
        Session["client"] = client;
    }
}
<header>
    <h1>Referral Input</h1>
</header>
<nav>
    <button type="button">Print</button>
    <button type="button" onclick="location.href='@Url.Action("InsertClient", "Referral")'">Add Client</button>
    <button type="button" onclick="location.href='@Url.Action("Referral", "Referral")'">Delete Client</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Close</button>
</nav>
<div class="main">
    @using (Html.BeginForm("InsertClient", "Referral", FormMethod.Post, new { id = "referralForm" }))
    {

        <ul class="threeCol">
            <li>
                @Html.Label("Office Name")
                @Html.DropDownListFor(r => r.referredClient.officeID, (SelectList)ViewBag.officeList, "")
            </li>
            <li>
                @Html.LabelFor(r => r.referralDate)
                @Html.EditorFor(r => r.referralDate)
            </li>
            <li>
                @Html.LabelFor(r => r.referralDueDate)
                @Html.EditorFor(r => r.referralDueDate)
            </li>
            <li>

            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.intakeCoordinator.staffID)
                @Html.DropDownListFor(r => r.referredClient.intakeCoordinator.staffID, (SelectList)ViewBag.staffList, "")
            </li>
            <li>
                @Html.LabelFor(r => r.referredClient.serviceCoordinator.staffID)
                @Html.DropDownListFor(r => r.referredClient.serviceCoordinator.staffID, (SelectList)ViewBag.staffList, "")
            </li>
        </ul>
        <div>
            @Html.LabelFor(r => r.referralReason)
            @Html.TextAreaFor(r => r.referralReason, new { rows = 10, columns = 40 })
        </div>
        <ul class="twoCol">
            <li>
                @Html.LabelFor(r => r.reReferral)
                @Html.CheckBoxFor(r => r.reReferral)
            </li>
            <li class="twoCol">
                @Html.LabelFor(r => r.prevReferralDate)
                @Html.EditorFor(r => r.prevReferralDate)
            </li>
        </ul>
        <ul class="twoCol">
            <li>
                @Html.LabelFor(r => r.referralSource)
                @Html.TextBoxFor(r => r.referralSource)
            </li>
            <li>
                @*@Html.LabelFor(r => r.referralCode)*@
                @*Html.DropDownListFor(r => r.referralCode, (SelectList)ViewBag.referralCodeList)*@
            </li>
            <li>
                @Html.LabelFor(r => r.secondaryReferralSource)
                @Html.TextBoxFor(r => r.secondaryReferralSource)
            </li>
            <li>
                @*@Html.LabelFor(r => r.referralCode)*@
                @*Html.DropDownListFor(r => r.referralCode, (SelectList)ViewBag.referralCodeList)*@
            </li>
        </ul>
        <div>
            @Html.LabelFor(r => r.referralComments)
            @Html.TextAreaFor(r => r.referralComments, new { rows = 10, columns = 40 })
        </div>
            <ul class="twoCol short">
                <li>
                    @Html.Label("Outreach Code:")
                    @Html.TextBox("outreachCode", null, new { name = "outreachCode" })
                </li>
                <li>
                    @Html.LabelFor(r => r.referredClient.TKIDcaseNumber)
                    @Html.TextBoxFor(r => r.referredClient.TKIDcaseNumber)
                </li>
            </ul>
            <ul class="twoCol short">
                <li>
                    @Html.LabelFor(r => r.referredClient.altID)
                    @Html.TextBoxFor(r => r.referredClient.altID)
                </li>
                <li>
                    @Html.LabelFor(r => r.referredClient.clientID)
                    @Html.TextBoxFor(r => r.referredClient.clientID)
                </li>
                <li>
                    @Html.LabelFor(r => r.referredClient.lastName)
                    @Html.TextBoxFor(r => r.referredClient.lastName)
                </li>
                <li>
                    @Html.LabelFor(r => r.referredClient.firstName)
                    @Html.TextBoxFor(r => r.referredClient.firstName)
                </li>
            </ul>
                    <ul class="threeCol">
                        <li>
                            @Html.LabelFor(r => r.referredClient.middleInitial)
                            @Html.TextBoxFor(r => r.referredClient.middleInitial)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.dob)
                            @Html.EditorFor(r => r.referredClient.dob)
                        </li>
                    </ul>
                    @*   @{Html.RenderPartial("Referral_PhysicianPartial", Model.referredClient.clientPhysicians);} *@
                    <ul class="threeCol long">
                        <li>
                            @Html.LabelFor(r => r.referredClient.otherFAtoITIPFA)
                            @Html.CheckBoxFor(r => r.referredClient.otherFAtoITIPFA)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.ITIPcomptoITIPFA)
                            @Html.CheckBoxFor(r => r.referredClient.ITIPcomptoITIPFA)
                        </li>
                        <li>
                            @*
                                @Html.LabelFor(r => r.referralOutcome)
                                @Html.DropDownListFor(r => r.referralOutcome, (SelectList)ViewBag.ReferralOutcomes)
                            *@
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referralOutcomeDate)
                            @Html.EditorFor(r => r.referralOutcomeDate)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.ITIPFAtoITIPcomp)
                            @Html.CheckBoxFor(r => r.referredClient.ITIPFAtoITIPcomp)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.fromOtherECI)
                            @Html.CheckBoxFor(r => r.referredClient.fromOtherECI)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.agencyFrom)
                            @Html.TextBoxFor(r => r.referredClient.agencyFrom)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.transferringLocation)
                            @Html.TextBoxFor(r => r.transferringLocation)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.pointOfAccess)
                            @Html.CheckBoxFor(r => r.referredClient.pointOfAccess)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.ECIReferredTo)
                            @Html.TextBoxFor(r => r.referredClient.ECIReferredTo)
                        </li>
                        <li>
                            @Html.LabelFor(r => r.referredClient.ECIReferredDate)
                            @Html.EditorFor(r => r.referredClient.ECIReferredDate)
                        </li>
                    </ul>
                    <div style="border: 1px solid black;">
                        Referral Sent By:
                        @Html.LabelFor(r => r.sentByFax)
                        @Html.CheckBoxFor(r => r.sentByFax)
                        @Html.LabelFor(r => r.sentByPhone)
                        @Html.CheckBoxFor(r => r.sentByPhone)
                    </div>
                    <ul class="twoCol">
                        <li>
                            @Html.Label("Relationship:")
                            <select>
                                <option>Mother</option>
                            </select>
                        </li>
                        <li>
                            @Html.Label("Last Name:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("First Name:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Home Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Work Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Cell Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Email:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Communication Preference:")
                            <input list="communicationPreference">
                        </li>
                        <li>
                            @Html.Label("Best to Call:")
                            <input list="bestToCall">
                        </li>
                        <li>
                            @Html.Label("Relationship:")
                            <select>
                                <option>Mother</option>
                            </select>
                        </li>
                        <li>
                            @Html.Label("Last Name:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("First Name:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Home Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Work Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Cell Phone:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Email:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Communication Preference:")
                            <input list="communicationPreference">
                        </li>
                        <li>
                            @Html.Label("Best to Call:")
                            <input list="bestToCall">
                        </li>
                        <li>
                            @Html.Label("Address 1:")
                            <input type="text" size="50">
                        </li>
                        <li>
                            @Html.Label("Address 2:")
                            <input type="text" size="50">
                        </li>
                        <li class="inline">
                            @Html.Label("City:")
                            <input type="text">
                        </li>
                        <li class="inline">
                            @Html.Label("State:")
                            <input type="text" size="2">
                        </li>
                        <li class="inline">
                            @Html.Label("Zip:")
                            <input list="zipCode" size="6">
                            <input type="text" size="4">
                        </li>
                        <li class="inline">
                            @Html.Label("County:")
                            <input type="text">
                        </li>
                        <li>
                            @Html.Label("Primary Language:")
                            <input list="language">
                        </li>
                        <li>
                            @Html.Label("Interpreter Needed?")
                            <input type="checkbox">
                        </li>
                        <li>
                            @Html.Label("ISD:")
                            <input list="isd">
                        </li>
                    </ul>
    }
    @{Html.RenderPartial("Referral_FamilyPartial", Model.referredClient.clientFamily);}
</div>